/caramel and berries.jpeg
/Daisy.jpg
/George.png
/George2.png
/greatGatsby.html
/JayGastby.jpg
/Jordan.jpg
/map.jpg
/Myrtle.jpg
/Nick.jpg
/Project1.html
/Project1.zip
/recipe.html
/recipe.zip
/recipe2.html
/recipe2.zip
/recipe3.html
/recipe3.zip
/syrup and chocolate.jpeg
/syrup and raspberries.jpeg
/theGreatGatsbyCover.jpg
/Tom.jpg